@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse, rgba(225, 10, 30, 0.5), pink, rgba(57, 4, 95, 0.7));
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    min-width: 100vw;
}
.app-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.description {
    width: 300px;
    height: 250px;
    padding-left: 50px;
    margin-top: -100px;
}
.description>p {
    color: black;
    font-family:'Tsukimi Rounded', sans-serif;
    font-size: 20px;
}
.app-container {
    width: 500px;
    height: 400px;
    margin-left: 200px;
    margin-top: 80px;
    background-color: rgba(65, 8, 106, 0.8);
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
}
.app-container>h2 {
    color: white;
    font-family: 'Tsukimi Rounded', sans-serif;
    font-weight: 800;
}
.inner-func {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: bisque;
    padding-top: 30px;
    gap: 30px;
    text-align: left;
    font-family: sans-serif;
}
#result {
    letter-spacing: 5px;
    margin-right: 10px;
}
#length {
    margin-left: 50px;
}
.setting {
    padding-top: 10px;
}
.fa-clipboard {
    position: sticky;
    left: 300px;
    cursor: pointer;
}
.chk-box {
    height: 15px;
    width: 15px;
}
#copied {
 font-size: 10px;
 border-radius: 3px;
 background-color: white;
 border: 0.5px solid #bbb;
 position: fixed;
 right: 200px;
 top: 150px;
 color: black;
 width: max-content;
 display: none;
}
.btn {
    width: 200px;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
}
footer {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 200px;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin-top: 50px;
}
.fa-github-square {
    margin-left: 20px;
}
a {
    color: white;
    font-size: 20px;
}
.app-footer {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 900px){
    .body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .app-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .description {
        display: block;
        width: 700px;
        margin-right: 20px;
        padding-right: 20px;
        margin-top: 20px;
        text-align: left;
    }
    .app-container {
        width: 100%;
        margin: 10px auto;
        font-size: 18px;
    }
    .fa-clipboard {
        position: sticky;
    }
    #copied{
        position: fixed;
        top: 360px;
    }
    
}


@media only screen and (max-width: 450px) {
    .body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .app-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .description {
        display: block;
        width: 350px;
        margin-right: 20px;
        padding-right: 20px;
        margin-top: 20px;
        text-align: left;
    }
    .app-container {
        width: 100%;
        margin: 10px auto;
    }
    .fa-clipboard {
        position: sticky;
        right: 40px;
    }
    #copied {
        position: relative;
        top: -50px;
        left: 250px;
    }
}